PORT=3015
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5442
DB_NAME=myheart_notification
DB_USER=postgres
DB_PASSWORD=postgres

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your.email@gmail.com
EMAIL_PASSWORD=your_password
EMAIL_FROM="MyHeart Santé <notifications@myheart.com>"

AUTH_SERVICE_URL=http://localhost:3006
CORS_ORIGIN=*
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100