PORT=3014
NODE_ENV=development

DB_TYPE=mongodb
DB_HOST=localhost
DB_PORT=27018
DB_NAME=myheart_medical

POSTGRES_HOST=localhost
POSTGRES_PORT=5441
POSTGRES_DB=myheart_medical_relational
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_SERVICE_URL=http://localhost:3006
PATIENT_SERVICE_URL=http://localhost:3007
DOCTOR_SERVICE_URL=http://localhost:3008
APPOINTMENT_SERVICE_URL=http://localhost:3009
LABORATORY_SERVICE_URL=http://localhost:3011
PHARMACY_SERVICE_URL=http://localhost:3012
PRESCRIPTION_SERVICE_URL=http://localhost:3013

CORS_ORIGIN=*
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100